.pokedex__main {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.pokedex__tittle {
  max-width: 500px;
  display: flex;
  align-content: center;
}

.pokedex__input {
  box-shadow: 3px;
}
.pokedex__searchbox {
  width: 700px;
  box-shadow: 0px 0px 20px 0px grey;
  border: none;
  text-align: center;
  margin: 10px;
  padding: 5px;
  font-family: 'Ubuntu', sans-serif;
}

.pokedex__footer {
  color: #7a5636;
  font-size: 12px;
}
