.pokemon__card {
	box-shadow: 0px 0px 20px 0px grey;
	transition: scale ease 1s;
  &:hover{
    transform:scale(1.1);
  }
}
 
.pokemon__image {
	background-color:white;
	width: 180px;
	height: 110px;
	padding-top: 10px;
	border-bottom: black solid 3px;
}

.pokemon__id--container {
	background-color: #999999;
	display: flex;
	align-content: flex-start;
	justify-content: center;
	position: absolute;
	width: 50px;
	padding: 3px;
	border: black 2px solid;
}

.pokemon__id {
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	font-size: 12px;
}
.pokemon__info {
	background-color: #E95330;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	color: white;
}
.pokemon__name{
	text-transform: capitalize;
	font-weight: bold;
}

.pokemon__evolve {
	font-size: 12px;
	border-left: black solid 2px;
	margin-top: 3px;
}
.pokemon__attack--type{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}
.pokemon__attack {
	list-style: none;
	text-transform: uppercase;
	//  #7a5636
	border: 1px solid lightgray;
	border-radius: 3px;
	font-size: 12px;
	padding: 5px;
	margin: 2px;
	text-align: center;
}

.type--fire {
	background-color: #ab1f23;
}
.type--bug {
	background-color: #3b9950;
}
.type--dragon {
	background-color: #448b95;
}
.type--poison {
	background-color: #5e2d88;
}
.type--grass {
	background-color: #27cb4f;
}
.type--ground {
	background-color: #6e491f;
}
.type--ice {
	background-color: #86d2f5;
}
.type--normal {
	background-color: #ca98a7;
}
.type--electric {
	background-color: #e3e32b;
}
.type--flying {
	background-color: #4a677d;
}
.type--water {
	background-color: #1552e2;
}