.pokedex__main {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center; }

.pokedex__tittle {
  margin: 20px; }

.pokedex__input {
  box-shadow: 3px; }

.pokedex__searchbox {
  width: 700px;
  box-shadow: 3px;
  text-align: center;
  margin: 10px;
  font-size: 16px;
  padding: 5px; }

.pokedex__footer {
  color: gray;
  font-size: 12px; }

.pokemonlist {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-gap: 20px;
  justify-content: center;
  margin: 20px;
  box-shadow: 3px; }

.pokemon__image {
  background-color: white; }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: yellow;
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif; }
