@import "src/styles/general";
@import "src/styles/pokemonList";
@import "src/styles/pokemonCard";
@import "src/styles/pokemonInfo";

* {
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
  display:block;
  overflow-x: hidden; 
}
body {
  background-color: #ebb424;
  background-image: url('./images/pikachu-bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  width: 100%;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}